* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-home,
.content-about,
.content-project {
    background-color: white;
}

html {
    scroll-behavior: smooth;
}

.nav-bar {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 10%;
    z-index: 1;
    background-color: gray;
}

.nav-bar .logo {
    font-size: 400%;
}

.nav-bar a {
    font-size: large;
    color: black;
    margin: auto;
    font-size: 160%;
}

.nav-bar a:link {
    text-decoration: none;
}

.content-home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12%;
    padding-bottom: 10%;
    border-bottom: 1px solid black;
}

.text-home {
    font-size: 140%;
    width: 60%;
    font-family: 'Roboto', sans-serif;
}

.content-Eu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-left: 3%;
    padding: 1% 0% 1%;
    border: 1px solid black;
    box-shadow: 5px 5px grey;
    background-color: white;
}

.LogoEu {
    width: 85%;
    margin-bottom: 4%;
}

.content-Eu p {
    font-size: 110%;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5%;
}

.button {
    display: flex;
}

.BtnCV {
    width: 120px;
    height: 30px;
    background-color: grey;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

.content-Eu a:link {
    text-decoration: none;
    color: black;
}

.content-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
    border-bottom: 1px solid black;
}

.text-about {
    width: 80%;
    font-size: 150%;
    padding-top: 5%;
    font-family: 'Roboto', sans-serif;
}

.card-about {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-about img {
    width: 10%;
    padding-top: 5%;
    padding-bottom: 3%;
}

.content-project {
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
    border-bottom: 1px solid black;
}

.content-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7%;
    font-family: 'Roboto', sans-serif;
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-project {
    width: 20%;
    text-align: center;
    margin-top: 5%;
    background-color: white;
    border: 1px solid grey;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 2px 2px;
}

.card-title {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.card-title span {
    font-size: 150%;
    font-family: 'Roboto Condensed', sans-serif;
}

.card-content img {
    width: 100%;
    padding: 5%;
}

.card-content {
    height: 350px;
}

.card-content p {
    padding: 0% 5% 5%;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    margin: 3% 0% 5%;
    border-top: 2px solid grey;
    cursor: pointer;
}

.btnCodigo {
    font-size: 90%;
    margin-top: 1%;
    width: 25%;
    height: 25px;
    background-color: grey;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btnCodigo a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.btnPortfolio a {
    text-decoration: none;
    color: black;
}

.btnPortfolio {
    width: 120%;
    height: 35px;
    background-color: gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: gray;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    flex-direction: row;
    padding: 1% 2% 1%;
    width: auto;
}

.email-icon {
    width: 40px;
}

.insta-icon {
    width: 32px;
}

.whats-icon {
    width: 33px;
    height: 33px;
}

.email-content,
.insta-content,
.whats-content {
    padding-left: 5%;
}

.footer-content a {
    text-decoration: none;
    color: black;
    font-size: 130%;
}

@media only screen and (max-width: 1250px) {
    .content-Eu p {
        font-size: 85%;
    }
    .card-title span {
        font-size: 120%;
    }
    .card-content p {
        font-size: 90%;
    }
    .card-content {
        height: 310px;
    }
}

@media only screen and (max-width: 1000px) {
    .btnCodigo {
        width: 35%;
    }
    .card-content p {
        font-size: 80%;
    }
    .card-content {
        height: 290px;
    }
}

@media only screen and (max-width: 900px) {
    .content-Eu p {
        font-size: 65%;
    }
    .text-home,
    .text-about {
        font-size: 110%;
    }
    .card-content p {
        font-size: 70%;
    }
    .card-content {
        height: 250px;
    }
    .btnPortfolio {
        font-size: 95%;
    }
    .footer-content {
        font-size: 90%;
    }
}

@media only screen and (max-width: 800px) {
    .nav-bar {
        height: 7%;
    }
    .nav-bar .logo {
        font-size: 300%;
    }
    .card-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-project {
        width: 40%;
    }
    .card-content p {
        font-size: 85%;
    }
    .card-content {
        height: 320px;
    }
    .text-home,
    .text-about {
        font-size: 95%;
    }
}